<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head")%>
    <link rel="stylesheet" href="/css/pokeListar.css">
    <link rel="stylesheet" href="/css/pokeTypes.css">
    <title>Pokelistar</title>
</head>
    <body>
        <div class="background-image">
            <a href="/createPokemon"><img class="new-pokemon-photo"src="img/New-Pokemon.png"></a> 
            <div class="pokemon-flex-direction"> 
                <% for (let i=0 ; i<pokemon.length ; i++) { %>
                    <div class="box-ash-kepchup">
                        <a href="/edit/<%=pokemon[i].id%>"><img class="poke-photo" src="/<%= pokemon[i].img%>"></a>
                        <span class="poke-prefix"> #<%= pokemon[i].prefix %> </span>
                        <span class="poke-name"> <%= pokemon[i].name %> </span>  
                        <div class="poke-flex-typo">
                            <span class="<%= pokemon[i].type[0]%>"> <%= pokemon[i].type[0] %></span>
                            <% if (pokemon[i].type[1])  { %> 
                                <span class="<%= pokemon[i].type[1]%>"> <%= pokemon[i].type[1] %></span>
                            <% } %>
                        </div> 
                    </div>    
                <% } %>
            </div>
        </div> 
    </body>
</html>